body::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 69420;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.notClicked {
  background-color: inherit;
  color: #EAEAEA;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 1em 1em;
}

.notClicked:hover {
  color:#6F6F6F !important;
}

.clicked {
  background-color: #848484;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 1em 1em;
}

#loading {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #1F6DC7 !important;
    float: right;
    background:url(images/loading_books.gif) center center no-repeat;
    z-index: 1337;
}
#loading img {
    float: right;
    vertical-align: middle;
}

#ready {
    display: none;
    background-color: #EAEAEA;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    right: 0;
}

#nav {
  list-style: none;
  margin: 0;
  background-color: #0d7fd0;
  display: none;
  -webkit-flex-flow: row wrap;
  flex-flow: row;
  justify-content: space-around;
  background-color: #0d7fd0;
/*    text-align: center;*/
  min-height: 1.3em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  top: 0;
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
}

#nav a {
    color: #EAEAEA;
    text-decoration: none;
    display: block;
    padding: 0.5em 2.5em 0.5em 2.5em;
}

.items:hover {
  background: #23A4FF !important;
}

#nav .items .clicked:hover {
  color: #EAEAEA;
}

#temp {
    display: none;
}

.shown {
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  background-color: #0d7fd0;
  color: #EAEAEA;
  display: block;
  padding: 0.3em;
}

#navWrapper:hover .hidden {
  display: -webkit-box;
  display: -moz - box;
  display: -ms - flexbox;
  display: -webkit - flex;
  display: flex;
}

#navWrapper:hover .shown {
  display: none;
}

.downArrow:hover {
  display: none;
}

@media all and (max-width: 800px) {
  #nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  #nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    display: none;
  }
  #temp {
      display: block;
  }

  #nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #nav li:last-of-type a {
    border-bottom: none;
  }
}

.downArrow {
    margin-left: 1em;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #EAEAEA;
}
