body::before {
  content: '';
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  box-shadow: 0px 0 20px rgba(128, 86, 10, 0.8);
  z-index: 69420;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0px;
  width: 100%;
  background-color: #202020 !important;
  color: #7e909b;
}

body::after {
  width: 100%;
  height: 10px;
  content: '';
  position: absolute;
}

h1 {
  color: #7e909b;
}

h2 {
  color: #7e909b;
  margin-top: 0.3em;
}

a {
  color: inherit;
}

/* a:visited {
  color: #173345;
} */

a:hover {
  color: #294252;
}

a:active {
  color: #3e596b;
}

/* h3 .row {
  margin: 20px 0px 20px 0px;
} */

h3.inline {
  margin: 0px;
}

sub {
  font-size: small;
  display: block;
}

#navigation {
  position: fixed;
  width: 100%;
  padding-bottom: 5px;
  background-color: #202020 !important;
}

.notClicked {
  background-color: inherit;
  color: #eaeaea;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 1em 1em;
}

.notClicked:hover {
  color: #7e909b !important;
}

.clicked {
  background-color: #294151 !important;
}

#loading {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #1f6dc7 !important;
  float: right;
  background: url(../images/loading_books.gif) center center no-repeat;
  z-index: 1337;
}

#loading img {
  float: right;
  vertical-align: middle;
}

#ready {
  display: none;
  background-color: #202020;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  right: 0;
  transition: background-color 1s ease-out;
  transition-delay: 0s;
  -webkit-transition: background-color 1s ease-out;
  -webkit-transition-delay: 0s;
  -o-transition: background-color 1s ease-out;
  -o-transition-delay: 0s;
  -moz-transition: background-color 1s ease-out;
  -moz-transition-delay: 0s;
  -ms-transition: background-color 1s ease-out;
  -ms-transition-delay: 0s;
  overflow: hidden;
}

#nav {
  list-style: none;
  margin: 0;
  background-color: #3e596b;
  display: none;
  -webkit-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #3e596b;
  /*    text-align: center;*/
  min-height: 1.3em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  top: 0;
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  position: relative;
}

#nav a {
  color: #597180;
  text-decoration: none;
  display: block;
  padding: 0.5em 2.5em 0.5em 2.5em;
  text-align: center;
  border-radius: 1em 1em;
  background-color: inherit;
}

.items:hover {
  background: #3e596b !important;
}

#nav .items .clicked:hover {
  color: #eaeaea;
}

/*hamburger menu CSS*/
#buttonContainer {
  cursor: pointer;
  float: right;
  padding-top: 0.5em;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 50px;
  height: 10px;
  background-color: #a7865d;
  margin: 6px 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.change .bar2 {
  opacity: 0;
}

.change .bar1 {
  transform: rotate(45deg) translate(6.5px, 6.5px);
  -webkit-transform: rotate(45deg) translate(6.5px, 6.5px);
  -moz-transform: rotate(45deg) translate(6.5px, 6.5px);
  -ms-transform: rotate(45deg) translate(6.5px, 6.5px);
  -o-transform: rotate(45deg) translate(6.5px, 6.5px);
}

.change .bar2 {
  transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
}

.change .bar3 {
  transform: rotate(-45deg) translate(16px, -16px);
  -webkit-transform: rotate(-45deg) translate(16px, -16px);
  -moz-transform: rotate(-45deg) translate(16px, -16px);
  -ms-transform: rotate(-45deg) translate(16px, -16px);
  -o-transform: rotate(-45deg) translate(16px, -16px);
}

.shown {
  border-bottom-left-radius: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  background-color: #3e596b;
  color: #7e909b;
  display: block;
  padding: 0.3em;
}

#navWrapper {
  font-weight: bold;
  font-size: large;
  height: auto;
  width: 100%;
  position: fixed;
}

#navWrapper:hover .hidden {
  display: -webkit-box;
  display: -moz - box;
  display: -ms - flexbox;
  display: -webkit - flex;
  display: flex;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  -o-animation: fade-in 0.5s;
  -ms-animation: fade-in 0.5s;
}

#navWrapper:hover .shown {
  display: none;
  animation: fade-out 0.5;
  -webkit-animation: fade-out 0.5;
  -moz-animation: fade-out 0.5;
  -o-animation: fade-out 0.5;
  -ms-animation: fade-out 0.5;
}

#navWrapper:not(:hover) .hidden {
  display: none;
  animation: fade-out 0.5;
  -webkit-animation: fade-out 0.5;
  -moz-animation: fade-out 0.5;
  -o-animation: fade-out 0.5;
  -ms-animation: fade-out 0.5;
}

#navWrapper:not(:hover) .shown {
  display: block;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s;
  -o-animation: fade-in 0.5s;
  -ms-animation: fade-in 0.5s;
}

.downArrow:hover {
  display: none;
}

#scrollTop {
  display: inline-block;
  background-color: #3e596b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 5px;
  color: #7e909b;
  right: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 69420;
  transition: opacity 0.5s, visibility 0.5s, box-shadow 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0.5s, box-shadow 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s, box-shadow 0.5s;
  -o-transition: opacity 0.5s, visibility 0.5s, box-shadow 0.5s;
}

#scrollTop::after {
  border-style: solid;
  border-width: 0.4em 0.4em 0 0;
  content: '';
  font-size: 1.25em;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  display: inline-block;
  position: relative;
  top: 15px;
  line-height: 43px;
  /* color: #7E909B; */
  border-radius: 1px;
}

#scrollTop:active {
  background-color: #555;
}

#scrollTop:hover {
  cursor: pointer;
  background-color: #484a74;
  color: #8c8da9;
  box-shadow: 0px 0 20px rgba(128, 86, 10, 0.8);
}

#scrollTop.showBtn {
  opacity: 1;
  visibility: visible;
}

#container {
  margin-top: 2em;
}

.row {
  display: inline-block;
  text-align: center;
  margin: 1em 0.5em 1em 0.5em;
  vertical-align: middle;
}

.rowSection {
  display: inline-block;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  width: 30%;
}

#experience .row {
  margin: 0px;
}

.img {
  width: 60%;
}

#about img {
  width: 500px;
  border-radius: 5px;
}

.section {
  /* width: calc(100% - 2em); */
  background-color: #173345;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1em;
  margin: 0.5em 0em 0.5em 0em;
}

#resumeBtn {
		/* display: block; */
    /* width: calc(100% - 2em) !important; */
    width: 100%;
    border: none;
    color: #7e909b;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
    -webkit-transition: background-color 0.5s, box-shadow 0.5s;
    -moz-transition: background-color 0.5s, box-shadow 0.5s;
    -ms-transition: background-color 0.5s, box-shadow 0.5s;
    -o-transition: background-color 0.5s, box-shadow 0.5s;
  }

  #resumeBtn:hover {
    background-color: #2e2f4a;
    box-shadow: 0px 0 20px rgba(128, 86, 10, 0.8);
  }

  #resumeBtn:active {
    background-color: #484a74;
  }

.icons {
  font-size: 3em;
}

.icons .section {
  padding: 0em;
  background-color: inherit;
}

.sectionFull {
  /* width: calc(100% - 0.5em); */
  background-color: #173345;
  border-radius: 0em;
  text-align: center;
  margin: 0.5em;
  width: auto;
  width: 20%;
  overflow: hidden;
  max-height: 2.9em;
  vertical-align: top;
  min-width: 15em;
  box-shadow: 0px 0 0px rgba(128, 86, 10, 0.8);
}

.info {
  padding: 0.3em;
}

.info h2 div {
  margin-bottom: 1em;
}

.even {
  background-color: #3e596b;
  color: #7e909b;
  transition: background-color 1s, max-height 2s, box-shadow 2s;
  -webkit-transition: background-color 1s, max-height 2s, box-shadow 2s;
  -moz-transition: background-color 1s, max-height 2s, box-shadow 2s;
  -ms-transition: background-color 1s, max-height 2s, box-shadow 2s;
  -o-transition: background-color 1s, max-height 2s, box-shadow 2s;
}

.even h2 {
  color: #7e909b;
}

.odd {
  background-color: #173345;
  color: #7e909b;
  transition: background-color 1s, max-height 2s, box-shadow 2s;
  -webkit-transition: background-color 1s, max-height 2s, box-shadow 2s;
  -moz-transition: background-color 1s, max-height 2s, box-shadow 2s;
  -ms-transition: background-color 1s, max-height 2s, box-shadow 2s;
  -o-transition: background-color 1s, max-height 2s, box-shadow 2s;
}

.odd h2 {
  color: #7e909b;
}

.odd h2 a {
  color: inherit;
}

/*.odd h2 a:visited {
  color: #294252;
}*/

.odd h2 a:hover {
  color: #3e596b;
}

.odd h2 a:active {
  color: #597181;
}

.even:hover {
  background-color: #484a74;
  max-height: 30em;
  box-shadow: 0px 0 20px rgba(128, 86, 10, 0.8);
}

.odd:hover {
  background-color: #2e2f4a;
  max-height: 30em;
  box-shadow: 0px 0 20px rgba(128, 86, 10, 0.8);
}

.dektop-inline {
  display: inline-block;
}

.banner {
    margin: 2em;
    /* width: 500px; */
}

.banner img {
  width: calc(100% - 4em);
}

@media all and (max-width: 1400px){
  .sectionFull {
    margin: 1em 4em 1em 4em !important;
  }

  .alt-even {
    background-color: #3e596b;
  }

  .alt-odd {
    background-color: #173345;
  }

  .alt-even:hover {
    background-color: #484a74;
    max-height: 25em;
  }

  .alt-odd:hover {
    background-color: #2e2f4a;;
    max-height: 25em;
  }
}

@media all and (max-width: 991.98px) {
  body {
    font-size: 35px;
  }

  #container {
    padding: 0em;
  }

  .row {
    margin: 1em 0em 1em 0em;
  }

  .rowSection {
    margin: 1em 0em 1em 0em;
    /* padding: 0em 1em 0em 0em; */
    width: 80%;
  }

  .icons .rowSection {
    width: 30%;
  }

  .dektop-inline {
    display: block;
  }

  #nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -o-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    padding: 0;
    display: block;
    top: -30em;
  }

  #navWrapper:hover .hidden {
    display: block;
  }

  #navWrapper:not(:hover) .hidden {
    display: block;
  }

  #buttonContainer {
    display: block;
    background-color: transparent;
    padding: 0.1em;
    position: relative;
    z-index: 1337;
  }

  #nav a {
    text-align: center;
    padding: 10px;
  }

  #nav li:last-of-type a {
    border-bottom: none;
  }

  .shown {
    display: none !important;
  }

  #navWrapper {
    height: 0px;
    font-size: xx-large;
  }

  li {
    margin: 0em 0em 1em 0em;
  }

  #navWrapper:hover .hidden {
    animation: none;
  }

  #navWrapper:not(:hover) .hidden {
    animation: none;
  }

  li {
    margin: 0em 0em 1em 0em;
  }

  #scrollTop {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background-color: #3e596b;
  }

  #scrollTop:hover {
    background-color: #484a74;
    color: #8c8da9;
  }

  #scrollTop:active {
    cursor: pointer;
    color: #8c8da9;
    background-color: #484a74 !important;
  }

  #scrollTop::after {
    border-width: 0.6em 0.6em 0 0;
    top: 0.75em !important;
    height: 35px;
    width: 35px;
  }

  /* #navWrapper:hover .hidden {
      display: flex;
      animation: slide-in 0.5s;
      top: 0px;
    }
    #navWrapper:not(:hover) .hidden {
      animation: slide-out 20s;
      top: -20em;
    } */

  .bar1 {
    margin-top: 15px !important;
  }

  .bar3 {
    margin-bottom: 0px;
  }

  #buttonContainer:active .bar1,
  #buttonContainer:active .bar2,
  #buttonContainer:active .bar3 {
    background-color: #3e596b;
  }

  #about img {
    width: 1000px;
    margin-left: -6em;
  }

  .section {
    /* width: calc(100% - 1em); */
    border-radius: 0em;
  }

  .sectionFull {
    width: 80%;
    margin: 1em 0em 1em 0em !important;
  }
  /* .icons {
    font-size: 3em;
  } */

  .even {
    background-color: #3e596b;
  }

  .odd {
    background-color: #173345;
  }

  .icons .section {
    width: 30%;
  }

  .banner {
    margin: 0em;
  }
  .banner img {
    width: 1200px;
    margin-left: -3.5em;
  }
}

@media all and (max-width: 754px) {

	.icons .rowSection {
    width: 100%;
  }
}

.downArrow {
  margin-left: 1em;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #eaeaea;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    top: -30em;
  }

  to {
    top: 0;
  }
}

@keyframes slide-out {
  from {
    top: 0;
  }

  to {
    top: -30em;
  }
}

